body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 12px;
  background: #f6f7fb;
  color: #222;
  line-height: 1.5;
}
/* NAVBAR */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  background: #0a2540;
  color: white;
  gap: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}


/* Main */
.about-hero {
  text-align: center;
  padding: 50px 15px;
  background: linear-gradient(to right, #0077ff, #00c6ff);
  color: white;
}

.about-container{
  text-align: center;
  padding: 50px 15px;
 background: #f6f7fb;
  color: #222;
}



/* FOOTER */
.footer {
  background: #0a2540;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.map iframe {
    border-radius: 10px;
}

@media (min-width: 768px) {

  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-links {
    flex-direction: row;
    gap: 20px;
  }

  .about-hero {
    padding: 80px 20px;
  }

  .logo img {
    width: 120px;
    height: 120px;
  }
}