body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 12px;
  background: #f6f7fb;
  color: #222;
  line-height: 1.5;
}
/* NAVBAR */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  background: #0a2540;
  color: white;
  gap: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}


/* Main */
.hero {
  text-align: center;
  padding: 50px 15px;
  background: linear-gradient(to right, #0077ff, #00c6ff);
  color: white;
}

.btn {
  display: inline-block;
  padding: 10px 16px;
  background: white;
  color: #0077ff;
  border-radius: 8px;
  text-decoration: none;
  margin: 5px;
}

.btn.secondary {
  background: transparent;
  border: 2px solid white;
  color: white;
}

/* FEATURES */
.features {
  padding: 30px 15px;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.card {
  padding: 15px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

#results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 12px;
}

/* FOOTER */
.footer {
  background: #0a2540;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.map iframe {
    border-radius: 10px;
}

@media (min-width: 768px) {

  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-links {
    flex-direction: row;
    gap: 20px;
  }

  .cards {
    flex-direction: row;
    justify-content: center;
  }

  .hero {
    padding: 80px 20px;
  }

  .logo img {
    width: 120px;
    height: 120px;
  }
}